body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
  background: #fff;
  align-items: center;
}
.fas {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 30px;
  color: black;
}
.fas:hover {
  color: rebeccapurple;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: cornflowerblue;
}
form {
  display: inline;
}
.login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -66%);
  width: 33%;
  /* padding: 0 20% 0; */
  /* margin: 10% auto 0; */
  margin: auto;
  text-align: center;
}
.login-form h1 {
  margin-bottom: 25%;
}
.input-box {
  border-radius: 10px;
  box-sizing: border-box;
  /* padding: 14px; */
  margin: 3% 0px;
  width: 100%;
  background: #bbb;
  border: none;
  outline: none;
  padding-right: 3%;
}
button {
  /* padding: 14px; */
  margin: 3% 0;
  border-radius: 10px;
  width: 100%;
  font: inherit;
  color: white;
  background-color: black;
  /* margin: 10px 0; */
  outline: none;
  border: none;
  line-height: 2.5;
  /* show a hand cursor on hover*/
  cursor: pointer;
}
input {
  padding: 0 5%;
  font-size: 14px;
  line-height: 3;
}
